/* Pagina principal */
#contGral{
    background-color: white ;
    height: 2000px;
}
#imglogo{
    align-content: center;
}
#ContNav{
    height: 75px;
}
#imgSlide{
    height: 650px;
    background-image: url(/img/slide-img.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ContNavFull{
    display: none;
}
#navbarfull{
    background-color: rgba(0, 0, 0, 0);
}

.imgwh{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.overlay:hover{
    background-color: #0000009c;
}

.imgwh:hover .img-scale{
    transform: scale(1.07);
    transition: transform 800ms;
}

.imgwh:hover{
    overflow: hidden;
}

#carrito{
    position: fixed;
    top: 50%;
    right: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
    border: 1px solid #d3d3d31c;
           
}

#containerSuscribe {
    text-align: center;   
}
.buttonSuscribe {
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    letter-spacing: .15em;
    padding: 13px 46px;
    font-size: 12px;
    color: #fff;
    background-color: #080808;
    font-weight: 700;    
}
.emailAddress {
    width: 84%;
    margin: 2px 0 15px;
    padding: 20px 18px;    
    font-size: 14px;
    line-height: 21px;
    font-weight: inherit;
    color: #000000;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 59px;
    
}
#subtituloSuscribir {
    color: #929292;
}
.card-title {
    font-size: 18px;
}
.card-text {
    font-size: 13px;
    color: gray;   
}
.footerText p {
    margin-bottom: 1rem !important;
}
.contenedor {
    position: relative;
}
.img-text{
    bottom: 10px;
    position: absolute;
    width: 90%;
    text-align: center;
}

/* @ media */
@media (min-width: 767.98px) { 
        #ContNavMobile{
        display: none;
    }
    #ContNavFull{
        display: block;
    }
    #ourservice__body__desc1_mobile{
        display: none;
    }
}
@media (max-width: 767.98px) {
#imgqsv1{
        display: none;
    }
    #carrito{
        display: none;
    }
    #login {
        display: none;
    }
    #ourservice__body__desc1_mobile{
        display: block;
    }
    #ourservice__body__desc1_fullscreen{
        display: none;
    }
} 

/* Our designs */
#imgdesign{
    background-image: url(/img/design1.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    display: flex;
    justify-content: center;
    align-items: center ;
}
#iphone{
    right: 0;
    top:1 ;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 1%;
    height: 10px;
    background-color: black;
  }