
#contGral{
    background-color: white ;
    height: 2000px;
}
#imglogo{
    align-content: center;
}
#ContNav{
    height: 75px;
}
#imgSlide{
    height: 650px;
    background-image: url(/img/slide-img.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ContNavFull{
    display: none;
}
#navbarfull{
    background-color: rgba(0, 0, 0, 0);
}
#textoimg{
    text-align: center;
}

@media (min-width: 767.98px) { 
        #ContNavMobile{
        display: none;
    }
    #ContNavFull{
        display: block;
    }
}
@media (max-width: 767.98px) {
#imgqsv1{
        display: none;
    }
} 